/* Primary Colors */
$primaryColor: #3f51b5;
$primaryLightColor: #757de8;
$primaryDimColor: #eff0ff;
$primaryDarkColor: #002984;
$primaryTextColor: #ffffff;

/* Secondary Colors */
$secondaryColor: #546e7a;
$secondaryLightColor: #819ca9;
$secondaryDimColor: #e8eef1;
$secondaryDarkColor: #29434e;
$secondaryTextColor: #ffffff;

/* Success Colors */
$successColor: #10b45a;
$successLightColor: #29f786;
$successDimColor: #e9fff3;
$successDarkColor: #009944;
$successTextColor: #ffffff;
$successLightTextColor: #545454;

/* Error Colors */
$errorColor: #df0e1c;
$errorLightColor: #fc4b57;
$errorDimColor: #ffedee;
$errorDarkColor: #cf000f;
$errorTextColor: #ffffff;

/* Warning Colors */
$warningColor: #ed6133;
$warningLightColor: #ff865d;
$warningDimColor: #ffede7;
$warningDarkColor: #d24c20;
$warningTextColor: #ffffff;

/* Info Colors */
$infoColor: #63c0df;
$infoLightColor: #80d8f6;
$infoDimColor: #e9faff;
$infoDarkColor: #42a2c2;
$infoTextColor: #ffffff;
$warningLightTextColor: #545454;

/* Dark Colors */
$darkColor: #141414;
$darkLightColor: #5c5c5c;
$darkDimColor: #ebebeb;
$darkDarkColor: black;
$darkTextColor: #ffffff;

/* Light Colors */
$lightColor: #e2e2e2;
$lightLightColor: #ffffff;
$lightDimColor: #f7f7f7;
$lightDarkColor: #dadada;
$lightTextColor: #141414;

/* Reusable Colors */
$black: #141414;
$lightGray: rgb(224, 224, 224);
$gray: gray;
